<div class="container">
  <h4>DEPLOY TO S3</h4>
  <h5>
    from : UDEMY: Serverless APIs & Apps - A Complete Introduction SECTION 6
  </h5>
  <div class="content">
   
<ul>
  <li>
    AWS:
    <ul>
      <li>

        1. Create bucket in S3
      </li>
      <li>

        2. Give the bucket an unique name.
      </li>
      <li>
        3. Select region (eu-central-1).

      </li>
      <li>

        4. Next.
      </li>
      <li>

        5. Create bucket.
      </li>
    </ul>
  </li>
  <li>
    ANGULAR
    <ul>
      <li>
        6. package.json "ng build" => "ng build --prod".

      </li>
      <li>

        7. npm run build.
      </li>
    </ul>
  </li>
  <li>
    AWS:
    <ul>
      <li>

        8. Upload the content of the dist-folder to the bucket.
      </li>
      <li>
        9. Public access settings: Uncheck all four boxes.

      </li>
      <li>
        10. Add bucket policy

      </li>
      <li>
        11. Documentation

      </li>
      <li>
        12. Bucket policy examples

      </li>
      <li>
        13. Grant read-only permission to an anonymous user.

      </li>
      <li>
        14. Copy policy statement

      </li>
      <li>

        15. Paste policy statement in Bucket Policy Editor.
      </li>
      <li>
        16. Replace 'examplebucket' with the name of our bucket name (zie 1.).

      </li>
      <li>
        17. Save.

      </li>
      <li>
        18. Properties.

      </li>
      <li>

        19. Static wesite hosting.
      </li>
      <li>
        20. Select: 'Use this bucket to host a wesite'

      </li>
      <li>
        21. Index document: index.html

      </li>
      <li>

        22. Error document: index.html
      </li>
      <li>

        23. Copy the url
      </li>
    </ul>
  </li>
  <li>
    BROWSER:
    <ul>
      <li>

        24. Add url to favourites
      </li>
    </ul>
  </li>
</ul>








  </div>
</div>
