<div class="container">
  <h4>GIT</h4>
  <h5>
    from jerga
  </h5>
  <div class="content">
    <ul>
      <li>
        CREATE A NEW REPOSITORY
        <ul>
          <li>

            1. git.com
          </li>
          <li>
            1. create repository

          </li>
          <li>
            2. add name

          </li>
          <li>
            3. CREATE REPOSITORY

          </li>
          <li>
            4. cl git init

          </li>
          <li>

            5. (opt) cl git add README.md
          </li>
          <li>
            6. cl git commit -m "first commit"

          </li>
          <li>
            7. cl git remote add origin git@github.com:jackoschoonderwoerd/"repositiory name".git

          </li>
          <li>
            8. cl git push - origin master

          </li>
        </ul>
      </li>
      <hr> 
      <li>
        GIT NEW BRANCH
        <ul>
          <li>

            01 git branch -> master?
          </li>
          <li>

            02 git pull -> upto date?
          </li>
          <li>
            create new branch:
            <ul>
              <li>

                03 git checkout -b &#60;name of new branch&#62;
              </li>
              <li>
                04 git branch (check to see if you're on the new branch)

              </li>
            </ul>
          </li>
        </ul>
      </li>
      <hr>
      <li>
        UPDATE GIT
        <ul>
          <li>
            01. cl git.status

          </li>
          <li>

            02. git add .
          </li>
          <li>
            03. git status

          </li>
          <li>
            04. git commit -m "&#60;my message&#62;"

          </li>
          <li>
            05. git branch

          </li>
          <li>

            06. kopieer &#60;branch name&#62;
          </li>
          <li>
            07. git push origin &#60;branch name&#62;

          </li>
          <li>
            08. jacko@passphrase

          </li>
          <li>

            09. to github repo
          </li>
          <li>
            10. COMPARE PULL REQUEST

          </li>
          <li>
            11. controleer de veranderingen

          </li>
          <li>
            12. CREATE PULL REQUEST

          </li>
          <li>

            13. MERGE PULL REQUEST
          </li>
          <li>
            14. CONFIRM MERGE

          </li>
          <li>

            15. DELETE BRANCHE
          </li>
          <li>

            16. back to client
          </li>
          <li>
            17. git checkout master

          </li>
          <li>

            18. git pull
          </li>
          <li>

            19. jacko@passphrase
          </li>
          <li>

          </li>
        </ul>
      </li>
      <hr>
      
    </ul>
  </div>
</div>















