<div class="container">
  <ol>
    <li>
      VS Code - Settings: 'Git: Enabled' is checked
    </li>
    <li>
      Click on Source Control Menu
    </li>
    <li>
      Initialize Repository
    </li>
    <li>
      Enter a message (init)
    </li>
    <li>
      Click checkmark (Commit)
    </li>
    <li>
      View => Command Pallet => Git: Add Remote
    </li>
  </ol>

  <ol>
    <li>
      GIT : Create new repository
    </li>
    <li>
      Copy URL
    </li>
  </ol>

  <ol>
    <li>
      Paste Url into VS CODE
    </li>
    <li>
      Add remote name
    </li>
    <li>
      Push changes
    </li>
  </ol>
</div>
