<div class="container">
  <h3>angular.json:</h3>
  <ul>
    <li>
      &#123;
      <ul>
        <li>
          "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
          "projects": &#123;
          <ul>
            <li>
              "my-project": &#123;
              <ul>
                <li>
                  "architect": &#123;
                  <ul>
                    <li>
                      "serve": &#123;
                      <ul>
                        <li>
                          "options": &#123;
                          <ul>
                          <li style="color: red;">
                              "port": 4201
                            </li>
                          </ul>

                          &#125;
                        </li>
                      </ul>

                      &#125;
                    </li>
                  </ul>

                  &#125;
                </li>
              </ul>

              &#125;
            </li>
          </ul>

          &#125;
        </li>
      </ul>

      &#125;
    </li>
  </ul>
</div>
