<div class="container">
  <h4>END LOGSTREAM</h4>
  <ol>
    <li>Lambda</li>
    <li>Function</li>
    <li>Execution Role</li>
    <li>Role name : ''</li>
    <li>Policy name</li>
    <li>Edit Policy</li>
    <li>
      <pre>
        {{ examples.example_01}}
      </pre>
    </li>
  </ol>
  <h4>START LOGSTREAM</h4>
  <ol>
    <li>Lambda</li>
    <li>Function</li>
    <li>Execution Role</li>
    <li>Role name : ''</li>
    <li>Policy name</li>
    <li>Edit Policy</li>
    <li>
      <pre>
        {{ examples.example_02}}
      </pre>
    </li>
  </ol>
</div>